body{
  background-color: #3c1563;
  font-family: Arial;
  margin: 0px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  font-size: 50px;
}
h1{
  border: none;
  font-size: 32px;
  color:#e2ff61;
  background-color: #FF1053;
  margin-top: 300px;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  transition: padding 1.5s, font-size 1.5s;
  -webkit-transition: padding 1.5s, font-size 1.5s;
  -moz-transition: padding 1.5s, font-size 1.5s;
  -ms-transition: padding 1.5s, font-size 1.5s;
  -o-transition: padding 1.5s, font-size 1.5s;
}
h1:hover{
  cursor: default;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 40px;
}

.discord-bt{
  width: 50%;
  transition: width 1.5s;
  -webkit-transition: width 1.5s;
  -moz-transition: width 1.5s;
  -ms-transition: width 1.5s;
  -o-transition: width 1.5s;
}
.discord-bt:hover{
  width: 60%;
}
.discord-bt:hover + .turniere-bt{
  width: 40%;
}

.turniere-bt{
  width: 50%;
  transition: width 1.5s;
  -webkit-transition: width 1.5s;
  -moz-transition: width 1.5s;
  -ms-transition: width 1.5s;
  -o-transition: width 1.5s;
}
.turniere-bt:hover{
  width: 60%;
}
.turniere-bt:hover + .discord-bt{
  width: 40%;
}