body{
  background-color: #3c1563;
  font-family: Arial;
  margin: 0px;
}
a {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
}
h1{
  border: none;
  font-size: 64px;
  color:#e2ff61;
  background-color: #FF1053;
  margin-top: 200px;
  margin-bottom: 0px;
  height: 80px;
  text-align: center;
  transition: font-size 1.5s,  padding 1.5s;
  -webkit-transition: font-size 1.5s,  padding 1.5s;
  -moz-transition: font-size 1.5s,  padding 1.5s;
  -ms-transition: font-size 1.5s,  padding 1.5s;
  -o-transition: font-size 1.5s,  padding 1.5s;
}
h1:hover{
  cursor: default;
  font-size: 60px;
}

.buttons{
  padding: 0px;
  margin: 0px;
  border: 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.discord-bt{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #7289da;
  color: #ffffff;
  flex-grow: 1;
  transition: flex-grow 1.5s, opacity 0.15s;
  -webkit-transition: flex-grow 1.5s, opacity 0.15s;
  -moz-transition: flex-grow 1.5s, opacity 0.15s;
  -ms-transition: flex-grow 1.5s, opacity 0.15s;
  -o-transition: flex-grow 1.5s, opacity 0.15s;
}
.discord-bt:hover{
  flex-grow: 5;
}
.discord-bt:active{
  opacity: 0.75;
}

.turniere-bt{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #2c2f33;
  color: #99aab5;
  flex-grow: 1;
  transition: flex-grow 1.5s, opacity 0.15s;
  -webkit-transition: flex-grow 1.5s, opacity 0.15s;
  -moz-transition: flex-grow 1.5s, opacity 0.15s;
  -ms-transition: flex-grow 1.5s, opacity 0.15s;
  -o-transition: flex-grow 1.5s, opacity 0.15s;
}
.turniere-bt:hover{
  flex-grow: 5;
}
.turniere-bt:active{
  opacity: 0.75;
}